<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Login Register</title>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <div class="container-fluid" style="height:50px;font-size:16px;">
    <div id="head">
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/">NIT Kurukshetra</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/index">Home</a></li>
                    <li><a href="/login">Sign in</a></li>
                    <li><a href="/signup">Sign up</a></li>
                  </ul>
                </div>
        </nav>        
    </div>       
 </div>
</head>
<body>
  <div class="jumbotron text-center" style="">
        <img src="/img/logo.png">
        <div id="note" style="font-size:15px;">
                National Institute of Technology Kurukshetra, Haryana is a premier Technical Institute of the region. The institute
                started working as Regional Engineering College, Kurukshetra in 1963. Like other Regional Engineering Colleges of India 
                this institution too, had been a joint enterprise of the State and Central Governments. This Institute was conferred
                upon status of Deemed University  on June 26, 2002. Since then it has been renamed as National Institute of Technology,
                Kurukshetra.
                <br><br>
                The Institute started functioning in its present campus at Kurukshetra in 1965-66 with 120 students admitted in the 
                first year of the Five-Year Courses of study for the B.Sc. (Engg.) Degree in Civil, Electrical and Mechanical Engineering.
                The Institute changed over to the 4-year B.Tech. Degree courses with effect from the academic year 1985-86. The new courses 
                was designated as B. Tech. The 2-year M.Sc. (Engg.) degree courses in various disciplines were redesignated as M. Tech. 
                degree courses with effect form the session 1983-84. Now the duration of the Courses is 2 years. 
                <br><br>
                In the session 2006-07, the Institute introduced a two-year MBA programme and two four-year B. Tech. degree programmes in 
                Information Technology and Industrial Engineering Management. From the session 2007-08, the Institute started a three-year
                MCA programme.
            </div>        


  </div>
    <div id="foot" style="font-weight:bold;font-size:15px;">
        <nav class="navbar navbar-fixed-bottom" style="background-color:orange">
                <div class="container-fluid">
                  <ul class="nav navbar-nav">
                    <li><a href="http://www.nitkkr.ac.in/sub_courses.php?id=103&id2=13" style="color:black;">About NIT KKR</a></li>
                    <li><a href="http://www.nitkkr.ac.in/sub_courses.php?id=130&id2=14" style="color:black;">Academic Section Brochure</a></li>
                    <li><a href="http://www.nitkkr.ac.in/sub_courses.php?id=7&id2=18" style="color:black;">Training And Placement Section</a></li>
                    <li><a href="http://www.nitkkr.ac.in/sub_courses.php?id=8&id2=19" style="color:black;">Student Activities</a></li>
                    <li><a href="http://www.nitkkr.ac.in/sub_courses.php?id=5&id2=16" style="color:black;">Departments</a></li>
                    <li><a href="http://nitkkr.ac.in/courses.php?id=5" style="color:black;">Student's Corner</a></li>
                    <li><a href="http://nitkkr.ac.in/courses.php?id=6" style="color:black;">Important Links</a></li>
                    <li><a href="http://nitkkr.ac.in/courses.php?id=17" style="color:black;">More @NIT KKR</a></li>
                  </ul>
                </div>
        </nav>        
    </div>
</body>
</html>